@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC</h1>

</div>

<div class="row">
    <a  type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Area</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Categoria</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Cliente</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Compra</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Cuenta</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Descuento</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Empleado</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Factura</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Marca</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Marketing</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Nomina</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Orden</a><br />
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Producto</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Promocion</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Proveedor</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Resibo</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Tienda</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Sucursal</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">TipoCuenta</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">TipoEmpleado</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">TipoProveedor</a>
    <a type="button" href="https://localhost:44380/areas/Index" class="btn btn-primary">Ventas</a>
</div>